.Container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  counter-reset: lesson;
}

.Module {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  position: relative;
}

.ModuleName {
  margin-bottom: 5px;
}

.ModuleLessons {
  display: flex;
  flex-wrap: wrap;
}

.Lesson {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  counter-increment: lesson;

  &:after {
    content: counter(lesson);
  }
}

.Active {
  border: 2px solid black;
}
